# Node
node_modules
dist
.next

# Env
.env
.env.local

# Database / Docker volumes
postgres_data
database/postgres/
database/postgres/**
database/postgree_db/
database/postgres_db/**database/postgres

# Docker volumes (local)
backend_node_modules
backend_dist
frontend_node_modules
frontend_next